.crime-legend {
  position: absolute;
  bottom: 20px;
  right: 20px;

  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(12px);

  padding: 12px 16px;
  border-radius: 14px;

  color: white;
  font-size: 14px;

  box-shadow: 0 0 25px rgba(255,0,0,0.4);
  z-index: 999;
}

.crime-legend h4 {
  margin: 0 0 8px;
  font-size: 15px;
  color: #38bdf8;
}

/* Legend rows */

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

/* Neon dots */

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.safe {
  background: #22c55e;
  box-shadow: 0 0 8px #22c55e;
}

.medium {
  background: #facc15;
  box-shadow: 0 0 8px #facc15;
}

.high {
  background: #ef4444;
  box-shadow: 0 0 10px #ef4444;
}
