body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top left, #0ea5e9, #020617);
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}


.app-container {
  padding: 25px;
}

.main-title {
  text-align: center;
  font-size: 40px;
  color: #38bdf8;
  margin-bottom: 25px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.card {
  background: #020617;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.15);
}

.map-card {
  overflow: hidden;
  border-radius: 18px;
}

.leaflet-container {
  border-radius: 18px;
}


.contact-card,
.chatbot-card {
  height: auto;
}

/* Mobile Responsive */
@media (max-width: 900px) {
  .grid-layout {
    grid-template-columns: 1fr;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top left, #0ea5e9, #020617);
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

.glow-bg::before {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  background: #0ea5e9;
  filter: blur(200px);
  top: -100px;
  left: -100px;
  z-index: -1;
}

/* ---------- ANIMATED GRADIENT BORDER ---------- */

.gradient-border {
  position: relative;
  border-radius: 18px;
  padding: 2px;
  background: linear-gradient(
    270deg,
    #22d3ee,
    #6366f1,
    #22c55e,
    #ef4444
  );
  background-size: 600% 600%;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-inner {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(18px);
  border-radius: 16px;
  padding: 16px;
}
